.product_popup_off{
    display: none;
    height: 20vh;
    width: 20vw;
   }

.product_popup_on{
    display:flex;
    flex-direction: row;
    position:absolute;
    top: 20%;
    color: whitesmoke;
    background-color:#000000;
    border: 1px solid black;
    border-radius: 25px;
    max-width: 60%;
}
.product_popup_on::backdrop{
    background:#000000;
}

.product_image_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.product_image {
    max-width: 500px;
    padding: 20px;
    border-radius: 35px;
}
.product_details_container {
    padding: 15px;
    margin-top: 30px;
}
.product_details_container>h1{
    font-size: 2;
}
.single_product_description{
    color: gray;
    text-transform: uppercase;
}
.price_stock_container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.prduct_in_stock{
    color: orange;
    font-size: small;
}
.single_product_price {
    font-size: 1.2rem;

}
.product_image_container>a{
    font-size:.6rem;
    text-decoration: none;
}
.product_details_container>button{
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    background-color:#000000;
    color: whitesmoke;
    cursor: pointer;
}
.product_details_container>button:hover{
    color: orange;
    border-color: orange;
}
.x_close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top:10px;
}

.product_user_url{
    color: whitesmoke;
    font-size: small;
}

.product_user_url:hover{
    color: orange;
}