.product_popup_off{
    display: none;
    height: 20vh;
    width: 20vw;
   }

.product_popup_on{
 display: flex;
 border: 1px solid black;
 height: 80vh;
 width: 90vw;
}

.product_image {
    width:auto;
}
