.product_popup_off{
    display: none;
    height: 20vh;
    width: 20vw;
   }

.product_popup_on{
    display:flex;
    flex-basis: row wrap;
    position:absolute;
    top: 30%;
    
    color: whitesmoke;
    background-color:#000000;
    border: 1px solid black;
    border-radius: 25px;
    margin: 30vh;
}

.product_image {
    max-width: 500px;
    padding: 20px;
    border-radius: 35px;
}
.product_details_container {
    padding: 15px;
    margin-top: 30px;
}
.x_close {
    width: 50px;
    position: absolute;
    right: 10px;
    top:10px;
}
