@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100;200;500&family=Source+Code+Pro:wght@200&display=swap');

.searchBar{
  
  margin-top: 10em;
  width: 100%;
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content:end;
  align-items: center;
}

.searchBarItem{
  margin-right:8em;
  /* display: flex;
  justify-content: space-evenly;
  height: 34px;
  width: 15px;
  float:left;
  gap: 10px; */
}


/* .sorting{
  display: none;
  
} */
/* 
.sorting:hover{
  display: block;
  font-size: 1rem;
} */

/* .searchBarItem::before {
  content: "Sort by ";
} */